<br />
<span style="font-size: 20px;"> Apresentação </span>
<br />
<br />

<p Align="justify">
    Até o momento, na minha recente transição para a área de tecnologia, meu maior desafio foi implementar uma melhoria
    no aplicativo fornecido pela empresa. Esta melhoria consistia em criar <i>Mock Objects</i> que seriam acessados com 
    o usuário teste, assim, a finalidade era simular objetos nas APIs para padronizar dados retornados e poder realizar 
    <i>screenshots</i>, facilitando a divulgação do produto durante sua venda.
</p>
<p Align="justify">
    Nesse momento, eu ainda tinha pouco contato com a área, possuindo apenas dois meses de experiência com C#. 
    Por conta disso, foi necessário bastante estudo para entender melhor o funcionamento das APIs e suas requisições, 
    bem como o funcionamento do front-end ao montar cada  <i>widget</i> do aplicativo.
</p>
<p Align="justify">
    Durante a melhoria, a tecnologia utilizada era o ASP.Net Core e o Flutter, com Arquitetura em Camadas e DDD, 
    além disso, tive contato com ferramentas como Postman, emuladores e ferramentas de controle de versões que 
    me auxiliaram na compreensão do processo de desenvolvimento.
    Portanto, este desafio me marcou por ter sido o meu primeiro contato com um produto complexo, contendo várias APIs e uma
    linguagem nova para mim, o Dart. Por isso, fui impulsionada a me superar, pois eu possuía pouca bagagem técnica na área.
    Contudo, concluir essa tarefa foi marcante por me possibilitar contribuir para uma melhor apresentação do produto e
    me proporcionar mais motivação para continuar estudando.
    
</p>


