<span style="font-size: 20px;"> Aline Stéphanie Freitas dos Reis </span>
<br />
<span style="font-size: 14px"> Cargo pretendido: Desenvolvedor Júnior</span>
<br />
<span style="font-size: 14px"> Pretensão salarial: R$ 2.500,00</span>
<br />
<span style="font-size: 14px"> Data do teste: 12/12/2022 a 19/12/2022</span>