@{
    ViewData["Title"] = "Home Page";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <span><b>Registro de Ponto</b></span>
    <br />
    <span> Insira os arquivos</span>
    <br />
    <span style="color:red; font-weight:bold">@ViewBag.message</span>
    <br />
    <input type="file" name="userfiles" webkitdirectory directory multiple id="files">
    <br />
    <input type="submit" value="Upload"  />
}

